.outletStyle {
  margin-top: 7rem;
}
#faq{
  margin-top: -1rem;
}

.landing {
  align-items:start;
  justify-self: start;
}
.landingBackgroundImg {
  height: 100vh;
  padding-top: 33rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../src/assets/bannerPic.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.text-container {
  position: absolute;
  top: 20%;
  left:  30%;
  width: 40%; 
  text-align: center;
  margin-top: 8rem;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.1);
  color: white; 
  backdrop-filter: blur(5px); 
}

@media (max-width: 768px) {
  .text-container{
    width: 80%;
    left: 0;
    margin: 1rem 3rem 0 3rem;
    /* margin: 1rem; */
    text-align: center;
  }
  .carousel-control-prev-icon {
    margin-left: 0;
  }
}
.callUs {
  background-color: black;
  height: 4rem;
  width: 11rem;
  font-size: 5rem;
  padding: 0rem;
}

.aboutBkg,
.aboutText {
  background-color: bisque;
}

.statsBkg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statsBkg,
.statistics {
  background-color: aqua;
}

.stat {
  display: inline-block;
  text-align: center;
  margin: 0 1rem;
}
.carousel-image {
  height: 27rem; 
  object-fit: fill;
}
.resourceCardImg {
  height: 10rem;
  object-fit: fill;
}


/* For the grievance form */
.checkbox-margin {
  margin-left: .5rem;
}

/* grievance carousel control icons*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}
